.form-reg-eye {
	position: absolute;
	top: 55%;
	right: 4%;
	font-size: clamp(1.8rem, 1.559rem + 1.204vw, 2.5rem);
	color: var(--primary-color);
	cursor: pointer;
	transition: all .3s;

	&:hover {
		transform: scale(1.2);
	}
}

@media (width < 480px) {
	.form-reg-eye {
		top: 52%;
	}
}