.dashboard-calculator-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 1em;
}

.dashboard-calculator,
.dashboard-calculator-info {
	max-width: 25em;
	margin-block: 2em 0;
	padding: 1.5em;
	border-radius: 15px;
	box-shadow: 1px 1px 6px rgb(183, 183, 183);
	background-color: var(--dashboard-color);
}

.dashboard-calculator-heading,
.dashboard-calculator-info-heading {
	color: var(--primary-color);
	font-size: 3rem;
	margin-bottom: 0.5em;
	text-align: center;
}

.dashboard-calculator-heading-text {
	margin-bottom: 1.5em;
	text-align: center;
}

.input-box {
	position: relative;
	margin-block: 0.7em;
}

.input-box label {
	position: absolute;
	top: 28%;
	left: 2%;
	padding: 0 0.5em;
	color: gray;
	font-size: 1.4rem;
	transition: transform 0.3s;
	pointer-events: none;
}

.select-label {
	text-align: left ;
}

.dashboard-calculator-input {
	width: 100%;
	margin-bottom: 0.3em;
	padding: 0.8em;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid #ccc;
	font-size: 1.4rem;
	cursor: text;

	&:focus {
		outline: none;
		border: 2px solid var(--primary-color);
	}

	&:focus ~ label,
	&:valid ~ label {
		transform: translateY(-130%);
		background-color: var(--dashboard-color);
	}

	&:focus ~ label {
		color: var(--primary-color);
	}
}

.input-error {
	background: var(--secondary-color);
	border: 1px solid var(--primary-color);
}

select {
	width: 100%;
	margin-block: 0.6em;
	padding: 0.8em;
	font-size: 1.4rem;
	border-radius: 5px;
	border: 2px solid #ccc;
	background-color: transparent;
	background-image: linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%),
		radial-gradient(#ddd 70%, transparent 72%);
	background-position: calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px), calc(100% - 0.7em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
	background-repeat: no-repeat;
	appearance: none;

	&:first-of-type {
		margin-bottom: 3;
	}

	&:focus {
		outline: none;
		border: 2px solid var(--primary-color);
	}
}

.calculator-error-info {
	padding: 0.2em;
	text-align: center;
	color: var(--primary-color);
}

.submit-calculator-form-btn,
.dashboard-calculator-info-btn {
	display: block;
	margin: 1em auto 0;
	padding: 1em 4em;
	border: none;
	border-radius: 12px;
	background-color: var(--primary-color);
	color: var(--text-color-light);
	font-size: 1.6rem;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		background-color: var(--primary-color-dark);
	}
}

@media (width <= 820px) {
	.dashboard-calculator,
.dashboard-calculator-info {
	margin-inline: .5em;
}
.dashboard-calculator {
    order: 2;
	margin-block: 1em;
  }

 .dashboard-calculator-info {
    order: 1;
  }
}

