.form {
	width: min(90%, 35em);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	background-color: rgb(242, 246, 247);
	border: 1px solid var(--primary-color);
	border-radius: 15px;
	box-shadow: 2px 4px 6px var(--primary-color);
}

.form-title {
	margin-bottom: 0.3em;
	font-size: clamp(1.8rem, 7.5vw, 3.6rem);
	font-weight: bold;
	color: var(--primary-color);
}

.form-label {
	position: relative;
	width: 100%;
	margin-block: 0.5em;
	font-size: 1.8rem;
}

.form-label h3 {
	font-size: clamp(1.4rem, 4vw, 2rem);
	color: var(--primary-color);
}

.form-input {
	width: 100%;
	/* min-width: 30vw; */
	margin-top: 0.4em;
	padding: 1em;
	border: 1px solid var(--primary-color);
	font-size: clamp(1.1rem, 3vw, 1.6rem);
	background-color: #fff;
	color: var(--text-color-dark);
	border-radius: 8px;

	&:focus {
		outline: none;
		box-shadow: 1px 1px 2px var(--primary-color);
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset;
}

.login-info {
	margin-block: 0.3em;
	font-size: clamp(1.2rem, 4vw, 1.6rem);
}

.login-info-link {
	padding-block: 0.3em;
	color: var(--primary-color);
	transition: all 0.1s;

	&:hover {
		color: var(--primary-color-dark);
	}
}

.submit-form-btn {
	width: 60%;
	margin-top: 0.6em;
	padding: 0.7em 2em;
	border: 1px solid var(--primary-color);
	border-radius: 12px;
	background-color: transparent;
	font-size: clamp(1.4rem, 1.297rem + 0.6vw, 1.8rem);
	color: var(--primary-color);
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		background-color: var(--primary-color);
		color: var(--text-color-light);
	}
}

.register-form-info {
	text-align: center;
	margin-top: 1em;
	font-size: clamp(1rem, 3vw, 1.2rem);
	color: #000000a8;
}

.form-input-error {
	background-color: var(--secondary-color);
}

.form-error {
	font-size: clamp(1rem, 0.794rem + 1.032vw, 1.6rem);
	color: var(--primary-color);
}

@media (width < 380px) {
	.form {
		padding: 1em;
	}

	.form-input {
		padding: 0.8em;
	}

	.form-label {
		margin-block: 0.2em;
	}

	.submit-form-btn {
		padding: 0.3em;
	}
}
