.dashboard-nutrition {
	margin-top: 2em;
	padding: 2em;
	/* border: 1px solid lightgray; */
	border-radius: 15px;
	box-shadow: 1px 1px 6px rgb(183, 183, 183);
	color: var(--text-color-dark);
	text-align: center;
}

.dashboard-nutrition-title {
	font-size: 3.4rem;
	color: var(--primary-color);
}

.dashboard-nutrition-meal-times {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.7em;
}

.dashboard-meal-time {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 0.5em;
    width: 50%;
}


