.dashboard-nutrition,
.dashboard-meal-time {
	background-color: var(--dashboard-color);
	border-radius: 15px;
	box-shadow: 1px 1px 6px rgb(183, 183, 183);
}

.dashboard-nutrition {
	/* height: min(400px, 90%); */
	padding: 2em 1em;
	color: var(--text-color-dark);
}

.dashboard-nutrition-title {
	text-align: center;
	font-size: clamp(2.4rem, 2.056rem + 1.72vw, 3.4rem);
	color: var(--primary-color);
}

.dashboard-nutrition-meal-times {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.8em;
	padding: 0.8em;
}

@media (width < 1200px) {
	.dashboard-nutrition {
		width: 90%;
	}
}


@media (width <= 700px) {
	.dashboard-nutrition {
		width: 90%;
	}
	
	.dashboard-nutrition-meal-times {
		grid-template-columns: 1fr;
	}
}
