.dashboard-tables {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1em;
  margin-top: 1em;
}

.date-selector-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.dashboard-goal-lacking {
	margin-block: 1em; 
	padding: 4em 2em;
	border-radius: 15px;
	box-shadow: 1px 1px 6px rgb(183, 183, 183);
	text-align: center;
	font-size: 2rem;
	min-width: 100%;
}

.dashboard-goal-lacking a {
	color: var(--primary-color);
	font-weight: 700;
	text-decoration: underline;
}