.dashboard-summary {
	padding: 2em;
	border-radius: 15px;
	box-shadow: 1px 1px 6px rgb(183, 183, 183);
	color: var(--text-color-dark);
	text-align: center;
}

.dashboard-summary-title {
	font-size: 3.4rem;
	color: var(--primary-color);
}

.dashboard-summary-calories,
.dashboard-summary-macros {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.7em;
}

.summary-calories-ingested,
.summary-calories-percentile,
.summary-calories-remaining {
	flex-basis: 30%;
	padding: 0.5em;
}

.summary-calories-percentile {
	height: 10em;
	aspect-ratio: 1/1;
}

.calories-amount {
	font-size: 2.5rem;
}

.percentile-amount {
	font-size: 3rem;
	text-indent: 0.3em;
}

.macro-container {
	padding: 0.5em 1em;
}

.summary-info,
.macro-progress-bar,
.macro-amount {
	margin-block: 0.4em;
}

.calories-percentile {
	margin-block: 0 1em;
	font-size: 1.6rem;
	color: var(--text-color-dark);
	font-weight: normal;
	text-indent: 0;
}
.macro-progress-bar,
.macro-progress-bar-fill {
	height: 8px;
	border-radius: 1.5em;
}

.macro-progress-bar {
	position: relative;
	width: 7em;
	background-color: #d6d6d6;
}

.macro-progress-bar-fill {
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	background-color: var(--primary-color);
}
