.login-container {
	height: calc(100vh - 57px);
	/* 57px = footer height */
	position: relative;
	background-image: url('../../assets/images/login-large.jpg');
	background-size: cover;
	background-position: center;
	/* backdrop-filter: blur(1px); */
	overflow: hidden;
	z-index: 2;
}

.login-container-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000028;
	/* backdrop-filter: blur(1px); */
	z-index: -5;
}
