.home-nav,
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	/* height: 100px; */
	z-index: 1000;
}

.home-nav {
	top: 1.5em;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	background-color: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(15px);
	border-radius: 15px;
}

.nav {
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary-color);
}

.nav-headings-container {
	display: flex;
	align-items: center;
	margin-inline: auto;
}

.hamburger {
	display: none;
}

.nav-list {
	display: flex;
	gap: 0.5em;
	font-size: 2.2rem;
}

.logo {
	padding: 1em;
	transition: all 0.3s;

	&:hover {
		transform: scale(1.06);
	}
}

.nav-link {
	position: relative;
	display: inline-block;
	padding: 1.5em 1em;
	color: var(--text-color-light);

	&::after,
	&::before {
		content: '';
		position: absolute;
		width: 0;
		bottom: 22px;
		border-bottom: 2px solid var(--text-color-light);
		transition: all 0.3s;
	}

	&::before {
		right: 50%;
	}
	&::after {
		left: 50%;
	}

	&:hover::before,
	&:hover::after {
		width: 45%;
	}
}

.logo-link {
	font-family: 'Clicker Script';
	font-size: 5rem;
	font-weight: bold;
	color: var(--text-color-light);
}

.active {
	&::before {
		right: 50%;
		width: 45%;
	}
	&::after {
		left: 50%;
		width: 45%;
	}
}

@media (max-width: 968px) {
	.nav,
	.home-nav {
		flex-direction: column;
		justify-content: space-around;
		/* height: 60%; */
	}

	.nav-headings-container {
		width: 90%;
		justify-content: space-between;
	}

	.nav-list {
		max-height: 0;
		overflow: hidden;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		transition: all 0.4s;
	}

	.home-nav.mobile-active .nav-list,
	.nav.mobile-active .nav-list {
		margin-bottom: 2em;
		max-height: 500px;
		overflow: visible;
	}

	.nav-link {
		opacity: 1;
		width: 65vw;
		text-align: center;
		margin: 0.5em 0;
		border-radius: 15px;
		box-shadow: 0px 0px 8px #f2f2f2;
		opacity: 0;
		transform: scale(0.5);
		transition: all 0.6s ease-in-out;

		&:hover {
			scale: 1.05;
		}
	}

	.home-nav.mobile-active .nav-link,
	.nav.mobile-active .nav-link {
		opacity: 1;
		transform: scale(1);
	}

	.logo {
		margin-left: 0;
	}

	.hamburger {
		display: block;
		border-radius: 2px solid red;
		cursor: pointer;
		transition: all .3s;

		&:hover {
			scale: 1.2
		}
	}

	.hamburger-line {
		width: 2em;
		height: 0.25em;
		background-color: var(--text-color-light);
		margin: 0.5em 0;
		border-radius: 2em;
		transition: all 0.3s ease-out;
	}

	.home-nav.mobile-active .hamburger-line:nth-child(1),
	.nav.mobile-active .hamburger-line:nth-child(1) {
		transform: translateY(9px) rotate(45deg);
	}

	.home-nav.mobile-active .hamburger-line:nth-child(2),
	.nav.mobile-active .hamburger-line:nth-child(2) {
		opacity: 0;
	}

	.home-nav.mobile-active .hamburger-line:nth-child(3),
	.nav.mobile-active .hamburger-line:nth-child(3) {
		transform: translateY(-15px) rotate(-45deg);
	}
}
