.home-nav,
.nav {
	position: fixed;
	z-index: 1000;
}

.home-nav {
	top: 1.5em;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	background-color: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(5px);
	border-radius: 15px;
}

.nav {
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary-color);
}

.nav-list {
	display: flex;
	align-items: center;
	font-size: 2.3rem;
}

.logo {
	margin-right: auto;
	margin-left: 1em;
	transition: all 0.3s;

	&:hover {
		transform: scale(1.1);
	}
}

.nav-link {
	position: relative;
	display: inline-block;
	padding: 1.4em 1em;
	text-align: center;
	color: var(--text-color-light);
	transition: all 0.3s;
}

.logo-link {
	font-family: 'Clicker Script';
	font-size: 5rem;
	font-weight: bold;
	color: var(--text-color-light);
}

.nav-link:hover {
	transform: scale(1.15);
}
.active {
	&.nav-link::before {
		position: absolute;
		content: '';
		width: 80%;
		height: 0.1em;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		
background-color: var(--text-color-light);
	}
}
