.home-nav,
.nav {
	position: fixed;
	z-index: 1000;
}

.home-nav {
	top: 1.5em;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	background-color: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(15px);
	border-radius: 15px;
}

.nav {
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary-color);
}

.nav-list {
	display: flex;
	align-items: center;
	font-size: 2.2rem;
}

.logo {
	margin-right: auto;
	margin-left: 1em;
	transition: all 0.3s;

	&:hover {
		transform: scale(1.06);
	}
}

.nav-link {
	position: relative;
	display: inline-block;
	padding: 1.4em 1em;
	color: var(--text-color-light);

	&:last-of-type {
		margin-right: 1em;
	}

	&::after,
	&::before {
		content: '';
		position: absolute;
		width: 0;
		bottom: 22px;
		border-bottom: 2px solid var(--text-color-light);
		transition: all 0.3s;
	}

	&::before {
		right: 50%;
	}
	&::after {
		left: 50%;
	}

	&:hover::before,
	&:hover::after {
		width: 45%;
	}
}

.logo-link {
	font-family: 'Clicker Script';
	font-size: 5rem;
	font-weight: bold;
	color: var(--text-color-light);
}

.active {
	&::before {
		right: 50%;
		width: 45%;
	}
	&::after {
		left: 50%;
		width: 45%;
	}
}

@media (max-width: 968px) {
	.nav {
		transform: translateY(-100%);
	  }
	
	.nav-list.active {
		display: flex;
	  }
	
	 .nav.active {
		transform: translateY(0);
	  }
	  
	.nav-list {
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding: 1em;
	}

	.nav-link {
		display: none;
		width: 50vw;
		text-align: center;
		margin: 0.5em 0;
		border-radius: 15px;
		box-shadow: 0px 0px 8px white;
	}

	.nav.active.nav-link {
		display: inline;
	}

	.logo {
		margin-left: 0;
	}

	.hamburger {
		display: block;
		position: absolute;
		top: 2em;
		right: 2em;
		cursor: pointer;
	}

	.hamburger-line {
		width: 2em;
		height: 0.25em;
		background-color: var(--text-color-light);
		margin: 0.5em 0;
		border-radius: 2em;
	}

	.nav {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: var(--primary-color);
		transform: translateY(-100%);
		transition: transform 0.3s;
	}

	.nav.active {
		transform: translateY(0);
	}
}
