.acc-settings-theme-container {
	text-align: center;
}

.choose-theme-btn {
	margin: 1em 0.5em 0;
	padding: 1.3em;
	border: 1px solid rgb(24, 24, 24);
	border-radius: 50%;
	box-shadow: 0 0 4px rgba(80, 80, 80, 0.863);
	cursor: pointer;

	&.default {
		background-color: #0e6aa8fa;
	}
	&.orange {
		background-color: rgba(204, 130, 45, 0.774);
	}
	&.lavender {
		background-color: #a599ddfa;
	}
	&.plum {
		background-color: #bb738ffa;
	}
	&.green {
		background-color: #5faa5ffa;
	}
	&.sky {
		background-color: #68b2d4fa;
	}
	&.brick {
		background-color: #a85d5dfa;
	}
	&.olive {
		background-color: #8a8b4bfa;
	}
	&.gray {
		background-color: #4e4b4bfa;
	}
	&.baby-pink {
		background-color: #d69d9dfa;
	}
}