.danger-zone {
	margin-block: 3em;
	padding-block: 1em 1.2em;
	border: 1px solid tomato;
	border-radius: 15px;
	background-color: rgba(200, 9, 9, 0.2);
}

.acc-delete-title {
	margin-left: 1em;
	color: rgba(200, 9, 9);
}

.acc-delete-btn {
	background-color: rgba(200, 9, 9, 0.8);

	&:hover {
		background-color: rgba(175, 9, 9, 0.8);
	}
}