.home-container {
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../../assets/images/Home-background-large.webp');
	background-position: top;
	background-size: cover;
	text-align: center;
	color: var(--text-color-light);
}

.home-container-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: -1;
}

.home-title {
	margin-inline: 30px;
	font-size: clamp(4rem, 18vw, 15rem);
	font-family: 'Clicker Script';
}

.home-title-info {
	font-size: clamp(1.5rem, 9vw, 7rem);
	font-weight: 100;
}

.aboutus-btn {
	position: relative;
	margin-top: 1em;
	padding: 1em 4em;
	background-color: transparent;
	border: 2px solid var(--text-color-light);
	font-size: clamp(1.5rem, 4vw, 2.5rem);
	font-weight: bold;
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;

	&::before {
		position: absolute;
		content: '';
		transition: all 0.6s;
		z-index: -1;
		top: -30px;
		left: -130px;
		height: 160%;
		width: 100px;
		background-image: linear-gradient(
			-90deg,
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0)
		);
		transform: rotate(20deg);
	}

	&:hover::before {
		left: 130%;
	}
}
