.dashboard-nav-container {
	/* position: fixed; */
	/* height: calc(100% - 60px); */
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../assets/images/home-intro-large4.jpg');
	background-size: cover;
	background-position: center;
	overflow-y: auto;
	scrollbar-width: thin; 
}

.dashboard-nav {
	width: fit-content;
	margin-top: 7em;
	padding: 1.5em;
	background-color: var(--primary-color);
	border-radius: 4em;
}

.dashboard-nav-headings {
	display: none;
}

.dashboard-nav-link {
	position: relative;
	padding: 1em;
	font-size: 1.9rem;
	&::after,
	&::before {
		content: '';
		position: absolute;
		width: 0;
		bottom: 12px;
		border-bottom: 2px solid var(--text-color-light);
		transition: all 0.3s;
	}

	&::before {
		right: 50%;
	}
	&::after {
		left: 50%;
	}

	&:hover::before,
	&:hover::after {
		width: 45%;
	}
}

.active {
	&::before {
		right: 50%;
		width: 45%;
	}
	&::after {
		left: 50%;
		width: 45%;
	}
}

@media (width <= 480px) {
	.dashboard-nav-headings {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.dashboard-nav {
		width: 90vw;
		padding: 0.6em;
		background-color: var(--primary-color);
		border-radius: 1em;
	}
	
	.dashboard-logo-container {
		padding: 0em
	}

	.dashboard-nav-text {
		margin-left: .4em;
		font-family: 'Clicker Script';
		font-size: clamp(3.5rem, 2.984rem + 2.581vw, 5rem);
		font-weight: bold;
		color: var(--text-color-light);
	}

	.nav-links {
		max-height: 0;
		visibility: hidden;
		opacity: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: all 0.5s;
	}

	.dashboard-nav.mobile-active .nav-links {
		max-height: 110px;
		visibility: visible;
		opacity: 1;
	}

	.dashboard-nav-link {
		width: 65vw;
		text-align: center;
		margin: 0.3em;
		padding: 0.5em;
		border-radius: 15px;
		box-shadow: 0px 0px 4px #f2f2f2;

		&::after,
		&::before {
			bottom: 8px;
			border-bottom: transparent;
		}
	}

	.hide-on-mobile {
		display: none;
	  }
}
