.home-footer, .footer { 
	width: 100%;
	margin-top: auto;
    padding: 1.3em;
    font-size: 1.5rem;
	color: var(--text-color-light);
	text-align: center;
}

.home-footer {
	background-color: rgb(255,255,255,.05);
    backdrop-filter: blur(5px);
}

.footer {
	background-color: var(--primary-color);
}
