@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	--primary-color: #0e6aa8d0;
	--secondary-color: #a6e1fa27;
	--text-color-dark: #161616;
	--text-color-light: #f2f2f2;
	--primary-color-dark: #0b4063e7;
	--light-blue: #badbfe
}

body {
	min-height: 100vh;
	font-size: 1.6rem;
	font-family: 'Roboto';
	background-color: var(--secondary-color);
	color: var(--text-color-dark);
	/* overflow: hidden; */
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

image {
	display: block;
	max-width: 100%;
}

a, link {
	text-decoration: none;
	color: var(--text-color-light);
}

ul {
	list-style: none;
}
