@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	--primary-color: #0e6aa8fa;
	--secondary-color: #a6e1fa27;
	--text-color-dark: #3d4247;
	--text-color-light: #f2f2f2;
	--primary-color-dark: #216999e7;
	--light-blue: #badbfe;
	--dashboard-color: rgba(236, 245, 252);
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	font-size: 1.6rem;
	font-family: 'Roboto';
	background-color: var(--secondary-color);
	color: var(--text-color-dark);
	/* overflow: hidden; */
}

#root {
	box-sizing: inherit;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.wrapper {
	max-width: 1250px;
	margin: 0 auto;
}

main {
	height: 100%;
}

image {
	display: block;
	max-width: 100%;
}

button:active {
	transform: scale(0.97);
}

a,
link {
	text-decoration: none;
	color: var(--text-color-light);
}

ul {
	list-style: none;
}

.fwb {
	font-weight: bold;
}

.error {
	color: red;
	background-color: pink;
	border: 1px solid red;
	padding: 1em;
	margin-top: 0.5em;
}
